.dialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #232323;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.dialogCloseBtn {
  position: absolute;
  right: 1.3rem;
  top: .7rem;
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: #fff;
  font-size: 20px;
}

.dialogCloseBtn:hover {
  color: #F65261;
}

.dialog-title {
  margin: 3rem 0 1rem 3rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
}

.modalMovieContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 3rem;
  grid-column-gap: 2rem;
}

.titleWrap, .dateWrap, .urlWrap, .ratingeWrap, .runtimeWrap, .textareaWrap, .genresWrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.deleteModalWrap{
  width: 100%;
}

.modalMovieContainer label, .textareaWrap label {
  color: #F65261;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 17px;
  font-weight: 600;
}

.genresWrapUnderLineText {
  color: #F65261;
  font-weight: 300;
  margin: -0.7rem 0 1rem;
}

.modalMovieContainer input{
  margin: 1rem 0;
  height: 2rem;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: rgba(50, 50, 50, 0.948044);
  border: none;
  padding: 1rem;
  position: relative;
}

.genresWrap {
  position: relative;
}

.genresDropDown {
  margin: 1rem 0;
  background-color: rgba(50, 50, 50, 0.948044);
  border: none;
  height: 2rem;
  color: #fff;
}

.genresDropDown:hover {
  border: none;
}
.rmsc .dropdown-container {
  background-color: inherit;
  border: rgba(50, 50, 50, 0.948044);
}

.rmsc {
  color: #fff;
  --rmsc-selected: none;
  --rmsc-hover: #F65261;
  
}

.dropdown-container .dropdown-content {
  display: flex;
  align-items: center;
}

.dropdown-container .dropdown-content div {
  background-color: rgba(50, 50, 50, 0.948044);
  width: 100%;
  display: flex;
  align-items: center;
}
.error {
  animation: shake 1s linear infinite;
  color: red;
  position: relative;
  bottom: .9rem;
}

.textareaWrap {
  margin: 0 0 6rem 0;
  width: 210%;
}
.item-renderer {
  padding: 0 0 0 1rem;
}


.item-renderer span {
  color: #fff;
  text-transform: none;
}

.rmsc .options {
  width: 100%;
}

.rmsc .select-item {
  padding: 0;
}

.rmsc .dropdown-content .panel-content {
  background: none;
}


#overview{
  margin: 1rem 0;
  padding: 1rem;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  resize: none;
  background-color: rgba(50, 50, 50, 0.948044);
}
.btnContainer{
  position: absolute;
  right: 1rem;
  bottom: 2rem;
}

.deleteDialogContent {
  width: 40%;
  min-height: 300px;
  top: 35%;
}

.deleteDialogContent .dialog-title {
  margin: 2rem 0 1rem 1rem;
}

.modalDeleteContent {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-left: 1rem;
}

.modalDeleteBtnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 3rem 2rem 1rem 0;
}

.dialog-content {
  z-index: 111;
  max-width: 90%;
  min-height: 300px;
  min-width: 400px;
}

.modalSuccessWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.modalSuccessIcon {
  width: 66px;
  height: 66px;
  position: relative;
  background: #F65261;
  border-radius: 50%;
  margin: -2.5rem 0 31px;
}

.modalSuccessIcon::after {
  content: '';
  position: absolute;
  width: 30px;
  background: #fff;
  z-index: 2;
  border: 2px solid #fff;
  top: 33px;
  transform: rotate(133deg);
  left: 20px;
}
.modalSuccessIcon::before {
  content: '';
  position: absolute;
  width: 10px;
  background: #fff;
  z-index: 2;
  border: 2px solid #fff;
  top: 39px;
  transform: rotate(50deg);
  left: 15px;
}

.modalSuccessTitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  line-height: 49px;
}

.modalSuccessDiscription {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 29px;
}
