.filterSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.genreList {
  display: flex;
}

.genreListItem {
  list-style: none;
  margin-right: 1rem;
}

.genreListItem_Button {
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.genreListItem_Button:hover {
  opacity: 0.4;
  cursor: pointer;
}

.active {
  color: #F65261;
}
